<div class='row'>
  <div class='span8 well'>
    <p><%= render post.categories %></p>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>posted by</span> <%= post.creator.username if post.creator %>
      <small>at <%= display_datetime(post.created_at) %></small>
    </p>
    <small>
      <span><%= link_to("#{post.comments.size} comments", post_path(post)) %></span>
    </small>
  </div>
</div>